<div fxLayout="column">
  <form [formGroup]="searchForm">
    <mat-expansion-panel class="card">
      <mat-expansion-panel-header>
        <mat-panel-title>Sort</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Sort Result By</mat-label>
        <mat-select formControlName="sort_by">
          <mat-option *ngFor="let sort of sort_by" [value]="sort.value">
            {{ sort.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel class="card">
      <mat-expansion-panel-header>
        <mat-panel-title>Filter</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox formControlName="include_adult">Adult Content</mat-checkbox>
    </mat-expansion-panel>

    <mat-expansion-panel class="card">
      <mat-expansion-panel-header>
        <mat-panel-title>Where To Watch?</mat-panel-title>
      </mat-expansion-panel-header>

      <app-watch-provider></app-watch-provider>
    </mat-expansion-panel>
  </form>

  <button
    (click)="search()"
    class="card"
    color="primary"
    mat-flat-button
    fxFlex
  >
    Search
  </button>
</div>
